@layer components {
  .wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .container {
    height: 100%;
    overflow: auto;
    padding: 2.5rem;
    width: 100%;
  }
}